*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.card-container{
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    min-height: 600px;
    margin: 25% auto;
}

.card-item{
    min-width: 300px;
}
.card-item > h1, p{
    display: block;
    background-color: grey;
    padding: 15px;
    margin-left: 597px;
    margin-right: 20px;
    max-height: 300px;
    text-align: center;


}
.card-footer{
    align-self: flex-end;

}

img{
    display: inline-block;
    min-width: 475px;
    max-height: 370px;
    position: fixed;
    top: 300px;
    left: 235px;
}